{% extends "layout/basic.html" %}
{% load bootstrap4 %}

{% block title %}Добавить изображение:{% endblock %}

{% block content %}
    <h2 class="container block_name text-center">Добавить изображение:</h2>
    <hr>
    <form method="POST" class="form col-8" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-success">
                Добавить
            </button>
        {% endbuttons %}
    </form>
{% endblock %}