{% extends "bboard/layout/basic.html" %}

{% block content %}
    <div class="container products">
    {% for bb in bbs %}

        {% if forloop.counter0|divisibleby:"2" == True %}
            {% if forloop.first != True %}
                </div>
            {% endif %}
            <div class="row">
        {% endif %}

        <div class="col-6">
            <div class="card text-left">
                <div class="card-header">
                    {{ bb.rubric.name }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'bboard:detail' pk=bb.pk %}">{{ bb.title }}</a>
                    </h5>
                    <p class="card-text">{{ bb.content }}</p>
                </div>
                <div class="card-footer" >
                    <div class="row justify-content-between" style="padding: 0px 10px 0px 10px;">
                        <div class="btn-group" role="group" aria-label="Basic example">
                          <a class="btn btn-outline-primary" href="{% url 'bboard:edit' pk=bb.pk %}">Изменить</a>
                          <a class="btn btn-outline-dangerw" href="{% url 'bboard:delete' pk=bb.pk %}">Удалить</a>
                        </div>
                        <div class="btn disabled">
                            {{ bb.published|date:"d.m.Y H:i:s" }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}