
header {
    background-color: rgba(121, 82, 179, 0.9);
}

header, section {
    padding-right: 5% !important;
    padding-left: 5% !important;
}

section {
    padding-top: 20px;
}


.nav-link {
    font-size: 18px;
}

.nav-home {
    font-weight: bold;
}

.nav-link:link, .nav-link:active, .nav-link:visited {
    color: white;
}

.nav-link:hover {
    color: #dcdcdc;
}


.card {
    margin-top: 15px;
    margin-bottom: 15px;
}

.card-header {
    text-align: center;
    background-color: #f8f8f8;
}

.card-header a:link, .card-header a:active, .card-header a:visited {
    color: #979797;
}

.card-header a:hover {
    color: #474747;
    text-decoration: none;
}

.card-header a:link, .card-header a:active, .card-header a:visited {
    color: #979797;
}

.card-header a:hover {
    color: #474747;
    text-decoration: none;
}

.card-footer {
    background-color: #fff !important;
}


.block_name {
    color: #323232;
}

.bboard-image {
    border-radius: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}



